<div class="container-cronograma">
  <div class="titulo-cronograma">
    <h2>{{ titulo }}</h2>
  </div>
  <div class="button-x" (click)="deletarCronograma()">
    <i class="bi bi-x-circle-fill"></i>
  </div>
  <div class="new-atitividade" (click)="chamarDialogNovaAtividade()">
    <i class="bi bi-plus-circle-fill"></i>
  </div>

  <div class="atividades" >
    <ng-container *ngFor="let item of atividades">

      <app-atividade class="atividade" [atividade]="item" (atualizar)="listarAtividades()"></app-atividade>
    </ng-container>
  </div>
  <app-importar-exportar [atividades]="atividades" [tituloCronograma]="titulo"></app-importar-exportar>
</div>
