<body>
    <div class="container-cronograma">
        <form class="container-login" name="formLogin" method="post">
            <div>
                <label for="formUsuario">Usuário : </label>
                <input type="text"  id="formUsuario" name="formUsuario">
            </div>
            <div>
                <label for="formSenha">Senha : </label>
                <input type="password"  id="formSenha" name="formSenha">
            </div>
            <div>
                <button type="submit">Entrar</button>
            </div>
        </form>
    </div>
</body>