<body>
  <div class="usuario">
    <i style="font-size: 4em" class="bi bi-people-fill"></i>
    <!-- <span>Você não esta <a routerLink="/login">conectado</a>.</span> -->
    <span>Bem vindo, {{ usuario.apelido }}.</span>
  </div>
  <div class="group-crono">
    <ng-container *ngFor="let item of cronogramas">
      <app-tabela-cronograma
        class="tabelas"
        [id]="item.id"
        [titulo]="item.titulo"
        (atualizar)="listarTodos()"
      ></app-tabela-cronograma>
    </ng-container>
  </div>
  <button class="new-cronograma" (click)="chamarDialogNovoCronograma()">
    <i class="bi bi-plus-circle-fill"></i>
  </button>
  <div class="executar">
    <i class="bi bi-play-fill icon-executar"></i>
  </div>
</body>
